html {
  font-size: 62.5%
}
body {
  background: #2D3E50;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
.answer {
  background-color: white;
  border: dashed 1px #2D3E50;
  cursor: move;
  height: 15rem;
  width: 15rem;
}

.answer img {
  width: 140px;
  height: 140px;
}
.answer__list {
    color: white;
}
.answer__space {
  height: 10rem;
  padding: 2rem;
  width: 10rem;
}
.app-header {
  background-color: #86bc42;
  color: black;
  height: 15rem;
  padding: 2rem;
}
.app-title {
  font-size: 4rem;
}
.container {
  display: flex;
  justify-content: space-around;
}
.item__list {
    color: white;
    width: 50%;
}
.item {
  background-color: white;
  border: dashed 1px #2D3E50;
  color: #2D3E50;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 4rem;
}

.correct {
  color:green;
}

.incorrect {
  color: red;
}

.button {
  margin-top: 5rem;
  border: 1px solid #86bc42;
  border-radius: 2px;
  background: transparent;
  color: #86bc42;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 1000;
}

.button::before {
  content: "";
  background: #86bc42;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all .3s ease-in-out;
  z-index: -1;
}
.button:hover {
  color: #fff;
}

.button:hover::before {
  width: 100%;
}
